@charset "UTF8";

header{
    margin: 0px;
    background-color: rgb(65, 65, 65);
}

body{
    background-color: rgba(138, 138, 138, 0.774);
    font-family: sans-serif;
    margin: 0px;
}

main{
    background-color: white;
    width: auto;
    padding: 10px;
    margin: 20px;
    border-radius: 10px 0px;
    box-shadow: 4px 4px 8px 2px gray;    
}

h1{
    color: rgb(5, 24, 2);
}
/*  em HTML id = em CSS é #
    em HTML class= em CSS é .
*/
#principal{
    color: white;
    text-align: center;
    
    padding: 10px;
}

div > p{
    display: none;
}

div:hover > p{
    display: block;
}

.basico{
    color: rgb(13, 107, 107);
}

.basico:hover{
    background-color: chocolate;
}

.avancado{
    color: rgb(5, 46, 46);
}

h2{
    color: blueviolet;
}

p{
    text-align: justify;
}

footer{
    text-align: center;
    background-color: rgb(78, 78, 78);
    margin: 0px;
    padding: 5px;
}