@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    min-height: 100vh;
    background-color: gray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 30px;
    font-variant: small-caps;
    font-family: sans-serif;
    font-size: 10vw;
}

header > p{
    padding-bottom: 30px;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    text-align: center;
    font-size: 5vw;

}

section > p{
    padding-bottom: 1em;
    font-family: 'Cookie', cursive;
}

section.normal{
    background-color: white;
}

section.imagem{
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.603);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

section.imagem > p{
    margin: 0px 30px;
    background-color: rgba(0, 0, 0, 0.568);
}

a:hover{
    text-decoration: underline;
}

section#img1{
    background-image: url('../imagens/background001.jpg');
    
    
}

section#img2{
    background-image: url('../imagens/background002.jpg');

}


footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}